- if user_signed_in?
  %li= link_to 'Dreams', dreams_path
  %li= link_to 'Stalked dreams', stalked_dreams_path
  %li= link_to 'My dreams', my_dreams_dreams_path
  %li= link_to 'Top dreams', top_dreams_path
